.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-size:x-large;
    font: bolder;
    color: white;
    font-family: Calibri;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 75px;
    left: 16px;
    font-size: xx-large;
    font: bolder;
    color: white;
    font-family: Calibri;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1 {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
   align-content:center
  
 
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}



.container3{
    max-width:1200px;
    margin:auto;
    background:#f2f2f2;
    overflow:auto;
}
.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:390px;
}
.gallery img{
    width:100%;
    height:auto;
}
.desc{
    padding:15px;
    text-align:center;
}



.column {
    float: left;
    width: 40%;
    padding: 10px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

