
@{
    ViewBag.Title = "Industries";
    //Layout = "~/Views/Shared/home_layout.cshtml";
    Layout = "~/Views/Shared/sidebar.cshtml";
}
<html>
<head>
    <link href="~/varma.css" rel="stylesheet" />
</head>


@*<body style="background-image: url('https://assets.kpmg/content/dam/kpmg/xx/images/2020/05/dotted-spherical-web-texture-light-blue-cyan-background.jpg/jcr:content/renditions/original')">*@
<body style="background-color:white">
    <div class="row">
        <div class="container">
            <img src="https://assets.kpmg/is/image/kpmg/texture-83:cq5dam.web.1400.350" alt="homepage" style="width:100%;background-size:cover">
            <div class="top-left">
                Industries<br />

            </div>
            <div class="top-left">
                <br />KPMG's presense across various sectors.'
            </div>

            <!--<div class="bottom-right" style="background-color:white;color:black">
            <h1 align="center" style="background-color:white;color:black"><a href="#"><b>Net Zero Readiness Index</b></a></h1>
            <p style="color:black">-->
            @*Analyzing the progress of 32 countries <br />
                in reducing greenhouse gas emissions and their <br />
                ability to achieve Net Zero by 2050.*@
            <!--</p>
            </div>-->
        </div>
    </div>




    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/VmKBcwSFNd4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>*@
<div class="row">
    <div class="col-md-4">
        <img src="~/Image/aerospace.jpg" alt="aerospace" width="400" height="200"/>
        <div class="top-left">Aerospace</div>

    </div>
    <div class="col-md-4">
        <img src="~/Image/building.jpg" alt="building" width="400" height="200" />
        <div class="top-left">Building and Construction</div>
    </div>
    <div class="col-md-4">
        <img src="~/Image/consumer.jpg" alt="consumer" width="400" height="200" />
        <div class="top-left">Consumer Markets</div>
    </div>
</div>
    <br />
    <div class="row">

        <div class="col-md-4">
            <img src="~/Image/education.jpg" alt="education" width="400" height="200">
            <div class="top-left">Education</div>
        </div>
        <div class="col-md-4">
            <img src="~/Image/emerging.jpg" alt="education" width="400" height="200">
            <div class="top-left">Emerging Giants Program</div>
        </div>
        <div class="col-md-4">
            <img src="~/Image/natural.jpg" alt="education" width="400" height="200">
            <div class="top-left">Natural Resources</div>
        </div>
    </div>



    @*<img src="https://assets.kpmg/is/image/kpmg/values-two?scl=1" style="width:50%;height:10%" />*@


</body>

</html>

