
@{
    ViewBag.Title = "Insights";
    //Layout = "~/Views/Shared/home_layout.cshtml";
    Layout = "~/Views/Shared/sidebar.cshtml";
}
<html>
<head>
    <link href="~/varma.css" rel="stylesheet" />
</head>


@*<body style="background-image: url('https://assets.kpmg/content/dam/kpmg/xx/images/2020/05/dotted-spherical-web-texture-light-blue-cyan-background.jpg/jcr:content/renditions/original')">*@
<body style="background-color:white">
    <div class="row">
        <div class="container">
            <img src="https://assets.kpmg/is/image/kpmg/texture-pink-blue-purple-lines:cq5dam.web.1400.500" alt="homepage" style="width:100%;background-size:cover">
            <div class="top-left">
                Insights<br />

            </div>
            <div class="top-left">
                <br />Deep dive into the KPMG world
            </div>

            <!--<div class="bottom-right" style="background-color:white;color:black">
            <h1 align="center" style="background-color:white;color:black"><a href="#"><b>Net Zero Readiness Index</b></a></h1>
            <p style="color:black">-->
            @*Analyzing the progress of 32 countries <br />
            in reducing greenhouse gas emissions and their <br />
            ability to achieve Net Zero by 2050.*@
            <!--</p>
        </div>-->
        </div>
    </div>




    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/VmKBcwSFNd4"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>*@
    <div class="row">
        <div class="col-md-6">
            <img src="~/Image/covid.jpg" alt="covid" width="600" height="300" />
            <div class="top-left">Understanding the market after Covid-19</div>
        </div>
        <div class="col-md-6">
            <img src="~/Image/newsfeed.jpg" alt="aerospace" width="600" height="300" />
            <div class="top-left">Setting the foundation for growth and stabitity</div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-6">
            <img src="~/Image/independence.jpg" alt="independence" width="600" height="300" />
            <div class="top-left">Independence of Employees is the top most priority in KPMG</div>
        </div>
        <div class="col-md-6">
            <img src="~/Image/carbonfree.jpg" alt="carbonfree" width="600" height="300" />
            <div class="top-left">Acheiving net-zero carbon by 2030</div>
        </div>
        
    </div>



    @*<img src="https://assets.kpmg/is/image/kpmg/values-two?scl=1" style="width:50%;height:10%" />*@


</body>

</html>

