@model IEnumerable<project1.Models.department>
@using project1.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul>

    @foreach (department Dept in @Model)

    {
        <li>

            @Html.ActionLink(Dept.dept_name, "Index", "dept_employee", new { dept_id = Dept.dept_id }, null)

        </li>
    }
</ul>